@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body::before {
  display: block;
  content: "";
  height: 3rem;
}
@media screen and (max-width: $md) {
  .news-input {
    width: 50%;
  }
}
