@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body::before {
  display: block;
  content: "";
  height: 3rem;
  font-size: 5rem;
}
.navbar {
  background-color: $primary;
  color: $white;

  .nav_logo {
    color: aqua;
    font-size: 2rem;
  }
  .nav-link {
    color: black;
    font-size: 1.5rem;
    font-family: $p_copy;
  }
  
}
.btn {
  background-color: $secondary;
}
.span_shoes {
  color: $secondary;
}
#instructors {
  font-size: 2rem;
}
#map {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
